* {
    box-sizing: border-box;
}

body::before {
    position: fixed;
    background: url(../img/blur-bg.jpg) center center no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 1021;
    width: 100%;
    min-width: 320px;
    border: none;
}

.body-container {
    width: 1020px;
    margin: 0 auto;
    background-color: #d3d3d3;
    position: relative;
    top: 50px;
}

.list-group-item {
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 50px;
    width: 400px;
    height: 100%;
    display: inline-block;
}

.mailBody {
    width: 600px;
    padding: 0px 10px;
    position: relative;
    display: inline-block;
    margin-left: 400px;
    min-height: 500px;
    background: #ffffff;
}


/* ul.y-expander {
    list-style-type: none;
    padding: 0px;
    margin: 10px 0px;
    width: 100%;
}

ul.y-expander li {
    width: 25%;
    display: inline-block;
}

.y-main-content::after {
    content: "";
    height: 10px;
    width: 10px;
    background: #000000;
}

ul.y-expander li .y-main-content figure img {
    max-height: 300px;
    width: 100%;
}

ul.y-expander li .y-expander-content {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    display: none;
    background: #d3d3d3;
    color: aliceblue;
}
*/